* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  font-family: "JetBrains Mono", "Segoe UI", system-ui, monospace;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #d4d4d4;
  background-color: #1e1e1e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
